body {
  background-color: darkslategrey;
  color: #a4a4a4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

table {
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

td {
  background-color: black;
  max-width: 20px;
  min-width: 1em;
  min-height: 1.2em;
  font-size: 3em;
}

td:hover {
  cursor: pointer;
  background-color: darkgray;
  transition: 0.5s;
}

div > div {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.terminal {
  background-color: black;
  border: 2px solid gray;
  min-height: 200px;
  min-width: 600px;
  font-family: Lucida Console, Courier, monospace;
  max-height: 200px;
  overflow: scroll;
}

.win-modal,
.lose-modal,
.draw-modal {
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.win-modal,
.lose-modal,
.draw-modal {
  z-index: 1;
}
.win-modal {
  background-color: #75ecafc2;
}

.win-modal > h2 {
  color: black;
  font-size: 5em;
}

.lose-modal {
  background-color: #000000c9;
}

.draw-modal {
  background-color: #000000c9;
}

.lose-modal > h2 {
  font-size: 5em;
}

.draw-modal > h2 {
  font-size: 5em;
}

.draw-modal > h2 {
  font-size: 5em;
}

button {
  border: 1px solid black;
  font-size: 2em;
  text-transform: uppercase;

  line-height: 1.6em;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}

select {
  font-size: 1.3em;
  border: 1px solid black;
  text-transform: uppercase;
}

li {
  text-align: left;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  z-index: 0;
}

.spin {
  display: inline-block;
  animation: spinAnimation ease 2s;
  -webkit-animation: spinAnimation ease 2s;
  -moz-animation: spinAnimation ease 2s;
  -o-animation: spinAnimation ease 2s;
  -ms-animation: spinAnimation ease 2s;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(180deg);
  }
}
